---
- import_tasks: down.yml
- import_tasks: git.yml
- import_tasks: composer.yml
- import_tasks: env.yml
- import_tasks: migration.yml
- import_tasks: apache.yml
- import_tasks: assets.yml
- import_tasks: owner.yml
- import_tasks: cache.yml
- import_tasks: key.yml
- import_tasks: cron.yml
  when: deploy_laravel_cron

- import_tasks: supervisor.yml
  when: deploy_laravel_supervisor

- import_tasks: up.yml
- import_tasks: queue.yml

